<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%=title%></title>
	<link rel="shortcut icon" href="/logo.ico" type="image/x-icon" />
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
	<meta name="keywords" content="<%=title%>" />
	<meta name="description" content="<%=description%>" />
	<link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/dark.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">
	<!-- 引入头部文件 -->
	<% include include/header %>	
	<!-- 内容区域 -->
	<div id="main">
		<!-- 图片滚动区域 -->
		<div id="focus">
			<div class="focus-block">
                <img src="/images/focus1.jpg" class="focus-img">
			</div>
            <div class="focus-all-images">
                <img src="/images/focus1.jpg" class="focus-img">
                <img src="/images/focus2.jpg" class="focus-img">
                <img src="/images/focus3.jpg" class="focus-img">
                <img src="/images/focus4.jpg" class="focus-img">
                <img src="/images/focus5.jpg" class="focus-img">
                <img src="/images/focus6.jpg" class="focus-img">
                <img src="/images/focus7.jpg" class="focus-img">
                <img src="/images/focus8.jpg" class="focus-img">
                <img src="/images/focus9.jpg" class="focus-img">
                <img src="/images/focus10.jpg" class="focus-img">
            </div>
            <div class="focus-console">
                <span class="left"><img src="/images/left.png"></span>
                <span class="right"><img src="/images/right.png"></span>
            </div>
            <div class="focus-thumbnail">
                <div class="focus-thumbnail-div">
                    <span class="current">1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>6</span>
                    <span>7</span>
                    <span>8</span>
                    <span>9</span>
                    <span>10</span>
                </div>
            </div>
		</div>
        <!-- 简介 -->
        <div class="introduction">
          <div class="block-header">
            <h2 class="title">INTRODUCTION</h2>
            <p class="title-description">OUR BRIEF INTRODUCTION</p>
          </div>  
          <div class="block-content">
            <p>沸点工作室是一支本科生IT人才孵化团队，以实际项目为驱动力，主攻web开发、移动手持设备软件开发(iOS/Android)以及信息安全。团队成立于2010年9月，其成员由华中农业大学在校本科生组成，现役成员来自信息、理学、工学、公管、植科、生科六院。工作室旨在提升团队成员面对新事物学习能力、动手实践能力、创新能力和团队协作精神。</p>
          </div>
        </div>
        <!-- 文化 -->
        <div class="culture">
            <div class="block-header">
                <h2 class="title">CULTURE</h2>
                <p class="title-description">OUR CULTURE AND BLIEF</p>
            </div>
            <div class="block-content">
                <h2>守望前进，码梦为生，执著梦想，永不停息</h2>
                <h3>Dream everything possible</h3>
            </div>
        </div>
		<!-- 工作室方向 -->
        <div class="group">
        	<div class="block-header">
        		<h2 class="title">GROUPS</h2>
        		<p class="title-description">OUR STUDY DIRECTION</p>
        	</div>
        	<div class="block-content">
        		<div><span><img src="/images/group1.png"></span><p>Web开发</p></div>
        		<div><span><img src="/images/group2.png"></span><p>Android/Java开发</p></div>
        		<div><span><img src="/images/group3.png"></span><p>iOS开发</p></div>
        		<div><span><img src="/images/group4.png"></span><p>信息安全</p></div>
        		<div><span><img src="/images/group5.png"></span><p>UI设计</p></div>
        	</div>
        </div>
        <!-- 新闻动态 -->
        <div class="news">
        	<div class="block-header">
        		<h2 class="title">NEWS</h2>
        		<p class="title-description">OUR RECENTLY INFORMATION</p>
        	</div>
          <div class="block-content">
            <div class="left news-list">
              <ul>
                <% for(var i = 0;i < announce.length;i++) { %>
                    <li><a href="/news/detail/<%=announce[i]._id%>"><b>【新闻公告】</b><%=announce[i].title%></a><font><%=announce[i].time%></font></li>
                <% } %>
              </ul>
            </div>
            <div class="right news-list">
              <ul>
                <% for(var i = 0;i < diary.length;i++) { %>
                    <li><a href="/news/detail/<%=announce[i]._id%>"><b>【成员日志】</b><%=diary[i].title%></a><font><%=diary[i].time%></font></li>
                <% } %>
              </ul>
            </div>
            <!-- <div class="right">
              <div><img src="images/news2.jpg"><span><p>沸点工作室2016启航大会</p><p>中国·武汉·华中农业大学</p><p>2016-12-12</p></span></div>
              <div><img src="images/news2.jpg"><span><p>沸点工作室2016启航大会</p><p>中国·武汉·华中农业大学</p><p>2016-12-12</p></span></div>
            </div> -->
          </div>
        </div>
        <!-- 联系方式 -->
        <!-- <div class="contact">
            <div class="block-header">
                <h2 class="title">CONTACT</h2>
                <p class="title-description">HOW TO CONTACT US</p>
            </div>
            <div class="contact-block">
                
            </div>
        </div> -->
        <!-- 友情链接 -->
        <div class="links">
        	<div class="block-header">
        		<h2 class="title">LINKS</h2>
        		<p class="title-description">OUR FRIENDLY LINKS</p>
        	</div>
        	<div class="links-block">
                <a href="javascript:;"><img src="/uploads/system/feidian.jpg"></a>
                <a href="javascript:;"><img src="/uploads/system/library.jpg"></a>
                <a href="https://github.com/"><img src="/uploads/system/github.jpg"></a>
                <a href="http://www.csdn.net/"><img src="/uploads/system/csdn.jpg"></a>
                <a href="https://www.xctf.org.cn/"><img src="/uploads/system/xctf.jpg"></a>
                <a href="javascript:;"><img src="/uploads/system/null.jpg"></a>
        	</div>
        </div>
	</div>
	<!-- 引入尾部文件 -->
	<% include include/footer %>
</div>
<script type="text/javascript" src="/js/focus-img.js"></script>
</body>
</html>