<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>沸点工作室-华中农业大学第一互联网技术团队</title>
	<link rel="shortcut icon" href="/logo.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/page.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">
	<!-- 引入头部文件 -->
	<% include include/header %>	
	<!-- 内容区域 -->
	<div id="main">
		<div id="members">
			<div class="time-nav">
			<% for(var i = 0;i < members.length;i++) { %>
				<span><i></i><font><a href="#<%=members[i].grade%>"><%=members[i].grade%>级</a></font></span>
			<% } %>
			</div>
			<div class="members-content">
				<% for(var i = 0;i < members.length;i++) { %>
					<div id="<%=members[i].grade%>" class="year-section">
						<h2><%=members[i].grade%>级</h2>
						<!-- 每一年级的成员 -->
						<% person = members[i].person; %>
						<% for(var j = 0;j < person.length;j++) { %>
							<div class="person">
								<div class="person-img">
									<img src="<%=person[j].img%>">
								</div>
								<div class="person-info">
									<p><font>编号：</font><%=person[j].num%></p>
									<p><font>方向：</font><%=person[j].group%></p>
									<p><font>E-mail：</font><%=person[j].email%></p>
									<p><font>最喜欢的话：</font><%=person[j].word%></p>
									<p><font>简介：</font><%=person[j].introduction%></p>
								</div>
								<div class="person-name"><%=person[j].name%></div>
							</div>
						<% } %>
					</div>
				<% } %>
			</div>
		</div>
	</div>
	<script src="/js/page.js"></script>
	<!-- 引入尾部文件 -->
	<% include include/footer %>
</div>
</body>
</html>